<form method="POST" action="/add-egg/add">
        <div>
            <div id="eggnuminp">Egg Number <input type="number" name="eggnum" placeholder="e.x. 4"></div><br>
            <div id="spotcolorinp">Spot Color <input type="color" name="spotcolor" value="#ff0000" id="color-picker" /></div><br>
            <div id="scaleinp">scale <input step="0.01" type="number" name="scale" placeholder="e.x. 1.2"></div><br>
            <div id="xposinp">xPos <input type="number" name="xPos" placeholder="e.x. 50"></div><br>
            <div id="yposinp">yPos <input type="number" name="yPos" placeholder="e.x. 50"></div><br>
            <div id="messageinp">Message <textarea type="string" name="message" placeholder="e.x. message"></textarea></div><br>
            <div id="dateinp">Date <input type="date" name="createdAt" value="2024-06-10" min="2024-01-01" max="2024-12-31" /></div><br>
        </div>	
        <div id="submitbutton">
            <input type="submit" value="Submit">
        </div>
</form>

