<style>
    body{
       background-image: url("../images/gifs/readingroom.gif");
       overflow: hidden;
    }



@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

.instruction, .book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.book {
  width: 847px;
  height: 654.5px;
  transform: translate(-50%, -50%) rotatex(10deg) rotatey(-10deg);
  transform-style: preserve-3d;
}

.page {
  width: 423.5px;
  height: 654.5px;
  background: #b8a98f;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s;
}

.page:nth-child(1) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-1px);
  background: #5d453c;
}

.left-side:nth-child(1) {
  transform: translatez(1px) rotatey(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-2px) scalex(-1) translatex(100%);
  background: #5d453c;
}

.left-side:nth-child(2) {
  transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-3px);
  background: #b8a98f;
}

.left-side:nth-child(3) {
  transform: translatez(3px) rotatey(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-4px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(4) {
  transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-5px);
  background: #b8a98f;
}

.left-side:nth-child(5) {
  transform: translatez(5px) rotatey(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-6px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(6) {
  transform: translatez(6px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-7px);
  background: #b8a98f;
}

.left-side:nth-child(7) {
  transform: translatez(7px) rotatey(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-8px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(8) {
  transform: translatez(8px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(9) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-9px);
  background: #b8a98f;
}

.left-side:nth-child(9) {
  transform: translatez(9px) rotatey(-180deg);
}

.page:nth-child(10) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-10px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(10) {
  transform: translatez(10px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(11) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-11px);
  background: #857965;
}

.left-side:nth-child(11) {
  transform: translatez(11px) rotatey(-180deg);
}

.page:nth-child(12) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-12px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(12) {
  transform: translatez(12px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(13) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-13px);
  background: #857965;
}

.left-side:nth-child(13) {
  transform: translatez(13px) rotatey(-180deg);
}

.page:nth-child(14) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-14px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(14) {
  transform: translatez(14px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(15) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-15px);
  background: #857965;
}

.left-side:nth-child(15) {
  transform: translatez(15px) rotatey(-180deg);
}

.page:nth-child(16) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-16px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(16) {
  transform: translatez(16px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(17) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-17px);
  background: #857965;
}

.left-side:nth-child(17) {
  transform: translatez(17px) rotatey(-180deg);
}

.page:nth-child(18) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-18px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(18) {
  transform: translatez(18px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(19) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-19px);
  background: #857965;
}

.left-side:nth-child(19) {
  transform: translatez(19px) rotatey(-180deg);
}

.page:nth-child(20) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-20px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(20) {
  transform: translatez(20px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(21) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-21px);
  background: #b8a98f;
}

.left-side:nth-child(21) {
  transform: translatez(21px) rotatey(-180deg);
}

.page:nth-child(22) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-22px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(22) {
  transform: translatez(22px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(23) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-23px);
  background: #b8a98f;
}

.left-side:nth-child(23) {
  transform: translatez(23px) rotatey(-180deg);
}

.page:nth-child(24) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-24px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(24) {
  transform: translatez(24px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(25) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-25px);
  background: #b8a98f;
}

.left-side:nth-child(25) {
  transform: translatez(25px) rotatey(-180deg);
}

.page:nth-child(26) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-26px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(26) {
  transform: translatez(26px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(27) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-27px);
  background: #b8a98f;
}

.left-side:nth-child(27) {
  transform: translatez(27px) rotatey(-180deg);
}

.page:nth-child(28) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-28px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(28) {
  transform: translatez(28px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(29) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-29px);
  background: #b8a98f;
}

.left-side:nth-child(29) {
  transform: translatez(29px) rotatey(-180deg);
}

.page:nth-child(30) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-30px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(30) {
  transform: translatez(30px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(31) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-31px);
  background: #857965;
}

.left-side:nth-child(31) {
  transform: translatez(31px) rotatey(-180deg);
}

.page:nth-child(32) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-32px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(32) {
  transform: translatez(32px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(33) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-33px);
  background: #857965;
}

.left-side:nth-child(33) {
  transform: translatez(33px) rotatey(-180deg);
}

.page:nth-child(34) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-34px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(34) {
  transform: translatez(34px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(35) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-35px);
  background: #857965;
}

.left-side:nth-child(35) {
  transform: translatez(35px) rotatey(-180deg);
}

.page:nth-child(36) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-36px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(36) {
  transform: translatez(36px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(37) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-37px);
  background: #857965;
}

.left-side:nth-child(37) {
  transform: translatez(37px) rotatey(-180deg);
}

.page:nth-child(38) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-38px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(38) {
  transform: translatez(38px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(39) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-39px);
  background: #857965;
}

.left-side:nth-child(39) {
  transform: translatez(39px) rotatey(-180deg);
}

.page:nth-child(40) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-40px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(40) {
  transform: translatez(40px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(41) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-41px);
  background: #b8a98f;
}

.left-side:nth-child(41) {
  transform: translatez(41px) rotatey(-180deg);
}

.page:nth-child(42) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-42px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(42) {
  transform: translatez(42px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(43) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-43px);
  background: #b8a98f;
}

.left-side:nth-child(43) {
  transform: translatez(43px) rotatey(-180deg);
}

.page:nth-child(44) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-44px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(44) {
  transform: translatez(44px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(45) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-45px);
  background: #b8a98f;
}

.left-side:nth-child(45) {
  transform: translatez(45px) rotatey(-180deg);
}

.page:nth-child(46) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-46px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(46) {
  transform: translatez(46px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(47) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-47px);
  background: #b8a98f;
}

.left-side:nth-child(47) {
  transform: translatez(47px) rotatey(-180deg);
}

.page:nth-child(48) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-48px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(48) {
  transform: translatez(48px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(49) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-49px);
  background: #b8a98f;
}

.left-side:nth-child(49) {
  transform: translatez(49px) rotatey(-180deg);
}

.page:nth-child(50) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-50px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(50) {
  transform: translatez(50px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(51) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-51px);
  background: #857965;
}

.left-side:nth-child(51) {
  transform: translatez(51px) rotatey(-180deg);
}

.page:nth-child(52) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-52px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(52) {
  transform: translatez(52px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(53) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-53px);
  background: #857965;
}

.left-side:nth-child(53) {
  transform: translatez(53px) rotatey(-180deg);
}

.page:nth-child(54) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-54px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(54) {
  transform: translatez(54px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(55) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-55px);
  background: #857965;
}

.left-side:nth-child(55) {
  transform: translatez(55px) rotatey(-180deg);
}

.page:nth-child(56) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-56px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(56) {
  transform: translatez(56px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(57) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-57px);
  background: #857965;
}

.left-side:nth-child(57) {
  transform: translatez(57px) rotatey(-180deg);
}

.page:nth-child(58) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-58px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(58) {
  transform: translatez(58px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(59) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-59px);
  background: #857965;
}

.left-side:nth-child(59) {
  transform: translatez(59px) rotatey(-180deg);
}

.page:nth-child(60) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-60px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(60) {
  transform: translatez(60px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(61) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-61px);
  background: #b8a98f;
}

.left-side:nth-child(61) {
  transform: translatez(61px) rotatey(-180deg);
}

.page:nth-child(62) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-62px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(62) {
  transform: translatez(62px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(63) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-63px);
  background: #b8a98f;
}

.left-side:nth-child(63) {
  transform: translatez(63px) rotatey(-180deg);
}

.page:nth-child(64) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-64px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(64) {
  transform: translatez(64px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(65) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-65px);
  background: #b8a98f;
}

.left-side:nth-child(65) {
  transform: translatez(65px) rotatey(-180deg);
}

.page:nth-child(66) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-66px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(66) {
  transform: translatez(66px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(67) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-67px);
  background: #b8a98f;
}

.left-side:nth-child(67) {
  transform: translatez(67px) rotatey(-180deg);
}

.page:nth-child(68) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-68px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(68) {
  transform: translatez(68px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(69) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-69px);
  background: #b8a98f;
}

.left-side:nth-child(69) {
  transform: translatez(69px) rotatey(-180deg);
}

.page:nth-child(70) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-70px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(70) {
  transform: translatez(70px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(71) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-71px);
  background: #857965;
}

.left-side:nth-child(71) {
  transform: translatez(71px) rotatey(-180deg);
}

.page:nth-child(72) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-72px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(72) {
  transform: translatez(72px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(73) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-73px);
  background: #857965;
}

.left-side:nth-child(73) {
  transform: translatez(73px) rotatey(-180deg);
}

.page:nth-child(74) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-74px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(74) {
  transform: translatez(74px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(75) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-75px);
  background: #857965;
}

.left-side:nth-child(75) {
  transform: translatez(75px) rotatey(-180deg);
}

.page:nth-child(76) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-76px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(76) {
  transform: translatez(76px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(77) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-77px);
  background: #857965;
}

.left-side:nth-child(77) {
  transform: translatez(77px) rotatey(-180deg);
}

.page:nth-child(78) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-78px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(78) {
  transform: translatez(78px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(79) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-79px);
  background: #857965;
}

.left-side:nth-child(79) {
  transform: translatez(79px) rotatey(-180deg);
}

.page:nth-child(80) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-80px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(80) {
  transform: translatez(80px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(81) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-81px);
  background: #b8a98f;
}

.left-side:nth-child(81) {
  transform: translatez(81px) rotatey(-180deg);
}

.page:nth-child(82) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-82px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(82) {
  transform: translatez(82px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(83) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-83px);
  background: #b8a98f;
}

.left-side:nth-child(83) {
  transform: translatez(83px) rotatey(-180deg);
}

.page:nth-child(84) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-84px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(84) {
  transform: translatez(84px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(85) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-85px);
  background: #b8a98f;
}

.left-side:nth-child(85) {
  transform: translatez(85px) rotatey(-180deg);
}

.page:nth-child(86) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-86px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(86) {
  transform: translatez(86px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(87) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-87px);
  background: #b8a98f;
}

.left-side:nth-child(87) {
  transform: translatez(87px) rotatey(-180deg);
}

.page:nth-child(88) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-88px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(88) {
  transform: translatez(88px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(89) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-89px);
  background: #b8a98f;
}

.left-side:nth-child(89) {
  transform: translatez(89px) rotatey(-180deg);
}

.page:nth-child(90) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-90px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(90) {
  transform: translatez(90px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(91) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-91px);
  background: #857965;
}

.left-side:nth-child(91) {
  transform: translatez(91px) rotatey(-180deg);
}

.page:nth-child(92) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-92px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(92) {
  transform: translatez(92px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(93) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-93px);
  background: #857965;
}

.left-side:nth-child(93) {
  transform: translatez(93px) rotatey(-180deg);
}

.page:nth-child(94) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-94px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(94) {
  transform: translatez(94px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(95) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-95px);
  background: #857965;
}

.left-side:nth-child(95) {
  transform: translatez(95px) rotatey(-180deg);
}

.page:nth-child(96) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-96px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(96) {
  transform: translatez(96px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(97) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-97px);
  background: #857965;
}

.left-side:nth-child(97) {
  transform: translatez(97px) rotatey(-180deg);
}

.page:nth-child(98) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-98px) scalex(-1) translatex(100%);
  background: #857965;
}

.left-side:nth-child(98) {
  transform: translatez(98px) scalex(-1) translatex(100%) rotatey(180deg);
}

.page:nth-child(99) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translatez(-99px);
  background: #857965;
}

.left-side:nth-child(99) {
  transform: translatez(99px) rotatey(-180deg);
}

.page:nth-child(100) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translatez(-100px) scalex(-1) translatex(100%);
  background: #b8a98f;
}

.left-side:nth-child(100) {
  transform: translatez(100px) scalex(-1) translatex(100%) rotatey(180deg);
}

.cover-front:nth-child(1) {
  text-align: center;
  background: linear-gradient(#5d453c, #5d453c) 50% 50%/80% 86% no-repeat, linear-gradient(#ccc91f, #ccc91f) 50% 50%/90% 93% no-repeat, linear-gradient(#5d453c, #5d453c) no-repeat;
}
.cover-front:nth-child(1) h1 {
  font-family: "Lora", serif;
  font-size: 45px;
  color: #36a9c9;
  margin-top: 30px;
  text-transform: uppercase;
}
.cover-front:nth-child(1) h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  color: #36a9c9;
  position: relative;
  top: 40%;
}
.cover-front:nth-child(1) .hat {
  font-size: 100px;
  color: #36a9c9;
  position: relative;
  top: 3%;
}

p {
  margin-bottom: 4%;
  font-family: "EB Garamond", serif;
  font-size: 20px;
}
.bigp {
    font-size:30px;
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}
.page:nth-child(3) p:first-of-type:first-letter {
  font-size: 32px;
}

.instruction {
    position: absolute;
    height: 100px;
    top: 45%;
    left: 25%;
  font-size: 26px;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  color: #0009;
  background: #fff7;
  background-color: sandybrown;
  border-radius: 15px;
  padding: 10px 15px;
}

#bookcharimg {
    width: 300px;
}
#librarybacklink {
        text-align:center;
        position:absolute;
        font-size: 70px;
        z-index: 99;
        transform: translate(-50%,0%);
        width: 100vw;
        color:beige;
        background-color: rgba(120, 120, 0, 0.9)
    }


#owl {

    position: absolute;
    
    bottom: 1vh;
    right: 25%;
        
    transform: scaleX(-1);
}

#pagenavbuttons {
    position:absolute;
    top:15vh;
    width: 100vw;
    transform: translate(-50%, -50%);
}
#pagenavbuttons  button{
    height: 5vh;
    width:50%;
    font-size:50px;
}
#nextbtn {float:right;}
</style>
        

<div>
    <a href="/library"><p id="librarybacklink">← LEAVE READING ROOM </p></a>
</div>
<div id="pagenavbuttons">
    <button id="backbtn" onclick="backPage();">< go back</button>
    <button id="nextbtn" onclick="nextPage();">next page ></button>
</div>
<div><img id="owl" src="../images/gifs/owl.gif"></div>
<div class="instruction">Sorry! Only one book today *hoot hoot*<br>Come back later and see what's new!</div>
<div class="book">
  <div id="p1" class="page cover-front" >
    <h1>CAMPAIGN 1: Character Options</h1>
    <div class="hat"><i class="fab fa-pied-piper-hat"></i></div>
    <h2>Olivia D'allessandro</h2>
  </div>
  <div id="p2" class="page cover-front"><p class="bigp">The Great Library of Omniscientia:</p>
    <p>An infinite library that contains every book ever written, as well as those that have yet to be written. The library's layout is constantly shifting, and it is inhabited by knowledgeable, eccentric librarians and magical bookworms. Adventurers must delve into the labyrinthine stacks to uncover lost knowledge, forbidden spells, and the secrets of the library's enigmatic origins.
</p></div>
  <div id="p3" class="page text-page" >
    <p class="bigp">Welcome to Your Potential Characters!</p>
    
    <p>Your potential characters have been generated via The Robot using the campaign setting description and the attributes you rolled, which are below:</p>
    <div style="text-align:center;">
        <p>Charisma: 10</p>
        <p>Intelligence: 3</p>
        <p>Wisdom: 9</p>
        <p>Dexterity: 6</p>
        <p>Constitution: 3</p>
        <p>Strength: 10</p>
    </div>
    
  </div>
  <div id="p4" class="page text-page" >
    <p class="bigp">Valeria Brightshield</p>
    <img id="bookcharimg" src="../images/assets/ValeriaBrightshield.png">
    </div>
  <div id="p5" class="page text-page">
    <p class="bigp">Origins</p>
    <p>Valeria Brightshield, a former knight of the Silver Order, is known for her radiant personality and unmatched strength in battle. Injured during a fierce skirmish, she was sent to the Great Library of Omniscientia to recover and uncover ancient combat techniques that could help her order. Her low constitution means she must be careful not to push herself too hard, but her charisma makes her a natural leader among the interns.</p>
    <p class="bigp">Skills and Abilities</p>
    <p><text style="font-weight: bold;">Inspiring Presence:</text> Charismatic and motivational, easily rallying allies.</p>
    <p><text style="font-weight: bold;">Melee Mastery:</text> Expert in hand-to-hand and weapon combat.</p>
    <p><text style="font-weight: bold;">Keen Insight:</text> Relies on wisdom to navigate the library's mystical elements.</p>
    <p><text style="font-weight: bold;">Swift Reflexes:</text> Decent dexterity for quick, agile movements.</p>
</div>
<div id="p6" class="page text-page">
    <p class="bigp">Elysia Windrunner</p>
    <img id="bookcharimg" src="../images/assets/ElysiaWindrunner.png">
    </div>
<div id="p7" class="page text-page">
    <p class="bigp">Origins</p>
    <p>Elysia Windrunner, a renowned traveling bard, was known for her captivating performances and incredible physical prowess. Seeking to enhance her storytelling with forgotten tales and hidden knowledge, she took an internship at the Great Library. Despite her low intelligence, her charm opens many doors, and her wisdom guides her through the library's puzzles and traps.</p>
    <p class="bigp">Skills and Abilities</p>
    <p><span style="font-weight: bold">Enchanting Voice:</span> Uses charisma to influence and charm others.</p>
    <p><span style="font-weight: bold">Strength in Performance:</span> Physical strength supports her dynamic performances and explorations.</p>
    <p><span style="font-weight: bold">Wise Performer:</span> Wisdom helps her navigate and understand mystical texts.</p>
    <p><span style="font-weight: bold">Agile Movements:</span> Adequate dexterity aids in swift, graceful actions.</p>
</div>
  
<div id="p8" class="page text-page">
    <p class="bigp">Thalia Ironfist</p>
    <img id="bookcharimg" src="../images/assets/ThaliaIronfist.png">
    </div>
<div id="p9" class="page text-page">
    <p class="bigp">Origins</p>
    <p>Thalia Ironfist, a blacksmith's daughter with the strength to match her father's forge, left her village to seek greater knowledge of legendary forging techniques rumored to be hidden in the Great Library. Her powerful presence and physical strength make her a formidable figure, even as she navigates the intellectual challenges of the library with difficulty.</p>
    <p class="bigp">Skills and Abilities</p>
    <p><span style="font-weight: bold">Commanding Presence:</span> Uses charisma to lead and negotiate.</p>
    <p><span style="font-weight: bold">Forging Strength:</span> Exceptional strength aids in physical tasks and combat.</p>
    <p><span style="font-weight: bold">Pragmatic Wisdom:</span> Relies on wisdom for practical problem-solving.</p>
    <p><span style="font-weight: bold">Nimble Crafter:</span> Moderate dexterity helps with precise crafting and exploration.</p>
</div>
    
  <div id="p10" class="page" onclick="movePage(this, 10)"><p class="bigp">nuthin here! turn back i fear!</p><p class="bigp">(turn back the page)</p></div>
  <div class="page"></div>
  <div class="page"></div>
  {{!-- <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div>
  <div class="page"></div> --}}
</div>
<script>

/*document.addEventListener('DOMContentLoaded', () => {
            console.log('clicked');
            document.getElementById('frontoffrontcover').addEventListener('click', function () { alert('hey'); movePage(this, 1); });
            
        });    

document.getElementById('backoffrontcover').addEventListener('click', function () { movePage(this, 2); });
document.getElementById('p1').addEventListener('click', function () { movePage(this, 3); });
document.getElementById('p2').addEventListener('click', function () { movePage(this, 4); });
document.getElementById('p3').addEventListener('click', function () { movePage(this, 5); });
document.getElementById('p4').addEventListener('click', function () { movePage(this, 6); });
document.getElementById('p5').addEventListener('click', function () { movePage(this, 7); });
document.getElementById('p6').addEventListener('click', function () { movePage(this, 8); });
document.getElementById('p7').addEventListener('click', function () { movePage(this, 9); });*/

let currentPage = 1;

function nextPage() {
    console.log('p'+String(currentPage))
    movePage(document.getElementById('p'+String(currentPage)), currentPage);
    //currentPage+=1;
    //console.log('p'+String(currentPage))
}
function backPage() {
    console.log('p'+String(currentPage))
    movePage(document.getElementById('p'+String(currentPage-1)), currentPage-1);
    //currentPage+=1;
    //console.log('p'+String(currentPage))
}


function toggleClass(e, toggleClassName) {
  if(e.className.includes(toggleClassName)) {
    e.className = e.className.replace(' ' + toggleClassName, '');
  } else {
    e.className += ' ' + toggleClassName;
  }
}

function movePage(e, page) {
  if (page == currentPage) {
    currentPage+=2;
    toggleClass(e, "left-side");
    toggleClass(e.nextElementSibling, "left-side");
    
  }
  else if (page = currentPage - 1) {
    currentPage-=2;
    toggleClass(e, "left-side");
    toggleClass(e.previousElementSibling, "left-side");
  }
  
}


</script>