<style>
    body{
       background-image: url("../images/gifs/swampgifv1.gif");
       background-position: right 0% bottom 100%;
       overflow: hidden;
    }
    #songswampiframe {
        z-index:5;
    }
    #songcontainer {
        position: absolute;
        top:30%;
        transform: translate(-50%, -50%);
        width:80svw;
    }
    .songnav {
        position: absolute;
        top:50%;
        
         
        width: 5%;
        font-size: 30px;
        color: white;
        margin-top:-2%;
        
        transform: translate(-50%, -50%);
        transform: scale(3, 5);
    }
    #songday {
        position: absolute;
        top: -40%;
        right:50%;
        transform: translate(50%, -50%);
        
          font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
background-color: #f8f39866;
    background-color: rgba(248, 243, 152, 0.7);
    padding: 0 10px;
    box-sizing: border-box;
    border-style: groove;
    border-radius: 10px;
    color: #428a64;
    border-color: #cbf078;
    border-width: 5px;
    }

    #wizardfrog {
    position: absolute;
    bottom: 10%;
    left: 50vw;
    height: 450px;
    width: 450px;
    
    animation: boing 2s ease-in-out infinite alternate;
    transform: translate(-50%,-50%);
}
#wizardfrog img{
    height: 450px;
    width:450px;
}
@keyframes boing {
    from {
      transform: scale(1, 1) translate(-50%, -20px);
    }
    to {
      transform: scale(1, 1) translate(-50%, 0px);
    }
  }
.speech-bubble {
    bottom: 450px;
	position: absolute;
	background: rgba(255,255,255,0.8);
	border-radius: .4em;
    width:80vw;
    transform: translate(-25%, 0%);
}
#frogaskform{
    position: absolute;
    animation: none;
    bottom:5svh;
    transform: translate(-50%, 0%);  
}
#frogaskform textarea{
    width: 60svw;
    font-size: 25px;
    
    background-color: rgba(248, 243, 152, 0.4);
    
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #feffdf;
    border-color: #cbf078;
    border-width: 5px;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#submittopic {
    margin-top:5px;
    width: 60svw;
    font-size: 30px;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  

    background-color: #a2c11c;
    border-radius: 10px;
    color: #347352;
    border-color: #cbf078;
    border-width: 5px;
}
.submitdisabled {
    background-color: #a2c11c;
    color: #347352;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: rgba(255,255,255,0.8);
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.speech-bubble h2{
    margin: 15px;
}
#wizardfrog h2 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:30px;
}
</style>

<div id="songcontainer">
    <h1 id="songday">Today</h1>
    <a style="left:2%; text-align:left;" class="songnav" onclick="swapSong(-1);">❮</a>
        <div style="text-align: center;">
            <iframe id="songswampiframe" allow="autoplay *; encrypted-media *;" frameborder="0" height="150"
                style="position:relative;border-style:solid;width:100%;max-width:660px;overflow:hidden;background:transparent;"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                src=""></iframe>
        </div>
    <a style="right:2%; text-align:right;" class="songnav" onclick="swapSong(1);">❯</a>
</div>
<div id="wizardfrog">
    <hgroup class="speech-bubble">
	    {{!-- <h1>Bubbly</h1> --}}
        {{#each frogadvice}}
            <h2> {{this}}</h2>
        {{/each}}
    </hgroup>
    <img src="../images/assets/animals/wizardfrog.gif">
</div>
<div id="frogaskform">
<form action="/sage-advice" method="POST">
    {{!-- <input id="adviceTopic" name="topic" value="I feel lost."> --}}
    <textarea id="adviceTopic" name="topic" rows="4" cols="50">How do I stay motivated?</textarea>
    <br>
    {{#if frogresting}}
    <input id="submittopic" type="submit" value="Ask Frog" disabled>
    {{else}}
    <input id="submittopic" type="submit" value="Ask Frog">
    {{/if}}
    
</form>
</div>
<script>
    
    let songIndex = 0;
    const songurls = [
        'https://embed.music.apple.com/us/album/one-dance-hasta-el-amanecer-mashup/1445015577?i=1445015804',
        'https://embed.music.apple.com/us/album/slingshot-feat-chance-pe%C3%B1a/1624789136?i=1624789356',
        'https://embed.music.apple.com/us/album/murder-on-the-dancefloor/1443920798?i=1443920952',
        'https://embed.music.apple.com/us/album/e-t-a/1496639180?i=1496639770',
        'https://embed.music.apple.com/us/album/on-cloud-nine/1110277856?i=1110278085',
        'https://embed.music.apple.com/us/album/c%C3%B3mo-le-digo-yo-a-mi-coraz%C3%B3n/1256945191?i=1256946268',
        'https://embed.music.apple.com/us/album/blues-run-the-game-2001-remaster/1436247189?i=1436247341',
        'https://embed.music.apple.com/us/album/manh%C3%A3-de-carnaval-th%C3%A8me-orfeu-sc%C3%A8ne-du-lever-du-soleil/1443274825?i=1443274916',
        'https://embed.music.apple.com/us/album/i-like-it/1443817875?i=1443817879',
        'https://embed.music.apple.com/us/album/until-i-found-you-em-beihold-version/1618348741?i=1618349017',
        'https://embed.music.apple.com/us/album/sunshine/530027293?i=530027301',
        'https://embed.music.apple.com/us/album/everybody-loves-somebody/806447968?i=806447979',
        'https://embed.music.apple.com/us/album/lets-stay-together/976362815?i=976362823',
        'https://embed.music.apple.com/us/album/lookin-out-my-back-door/1440948745?i=1440949146',
        'https://embed.music.apple.com/us/album/i-cant-stop-loving-you-feat-count-basie-and-his-orchestra/1440824137?i=1440824535',
        'https://embed.music.apple.com/us/album/sound-color/1053742064?i=1053742065',
        'https://embed.music.apple.com/us/album/gina/1637977482?i=1637978214',
        'https://embed.music.apple.com/us/album/baltimore-county-line/1295956251?i=1295956258',
        'https://embed.music.apple.com/us/album/otw/1373820482?i=1373820766',
        'https://embed.music.apple.com/us/album/famous/1411608691?i=1411609272',
        'https://embed.music.apple.com/us/album/this-moment-feat-miette-hope/1077896007?i=1077896019',
        'https://embed.music.apple.com/us/album/garden-party/1443878582?i=1443878951',
        'https://embed.music.apple.com/us/album/mother-and-child-reunion/380625640?i=380625646',
        'https://embed.music.apple.com/us/album/pancakes-for-dinner/1525265220?i=1525265301',
        'https://embed.music.apple.com/us/album/you-belong-to-me/724552575?i=724553577',
        'https://embed.music.apple.com/us/album/all-my-love/1331589118?i=1331589583',
        'https://embed.music.apple.com/us/album/im-coming-clean/1494380671?i=1494380674',
        'https://embed.music.apple.com/us/album/when-you-love-someone/1689330419?i=1689330855',
        'https://embed.music.apple.com/us/album/so-weightless/369026880?i=369027288',
        'https://embed.music.apple.com/us/album/mind-over-matter/764934819?i=764934824',
        'https://embed.music.apple.com/us/album/lets-fall-in-love-for-the-night/1720941617?i=1720941873',
        'https://embed.music.apple.com/us/album/loving-you-original-version/850697616?i=850697809',
        'https://embed.music.apple.com/us/album/best-of-my-love/170522776?i=170522819',
        'https://embed.music.apple.com/us/album/pool-house/1517139758?i=1517139760',
        'https://embed.music.apple.com/us/album/beautiful-strangers/1167020028?i=1167020116',
        'https://embed.music.apple.com/us/album/ceilings/1604657567?i=1604657975',
        'https://embed.music.apple.com/us/album/sarah-smiles/424480029?i=424480134',
        'https://embed.music.apple.com/us/album/for-your-precious-love/995811404?i=995811411',
        'https://embed.music.apple.com/us/album/if-you-go-away/1425209391?i=1425209930',
        'https://embed.music.apple.com/us/album/tired-of-talking-a-trak-cory-enemy-remix/1126985942?i=1126986102',
        'https://embed.music.apple.com/us/album/new-soul/652880766?i=652880801',
        'https://embed.music.apple.com/us/album/easily/1179039914?i=1179040481',
        'https://embed.music.apple.com/us/album/six-speed/1441668935?i=1441669303',
        'https://embed.music.apple.com/us/album/in-the-silence-demo/1445046613?i=1445046616',
        'https://embed.music.apple.com/us/album/autumn-leaves-bonus-track/448213992?i=448214027',
        'https://embed.music.apple.com/us/album/sue%C3%B1os-perdidos-remix/1737272735?i=1737273125',
        'https://embed.music.apple.com/us/album/la-llorona/1147226790?i=1147227174',
        'https://embed.music.apple.com/us/album/theme-of-mitsuha/1434005560?i=1434005798',
        'https://embed.music.apple.com/us/album/kingston-town/713072931?i=713073022',
        'https://embed.music.apple.com/us/album/crazy/1443134445?i=1443134932',
        'https://embed.music.apple.com/us/album/hi-tops/1508564670?i=1508564979',
        'https://embed.music.apple.com/us/album/epic-iii-they-danced-instrumental/1466351033?i=1466351286',
        'https://embed.music.apple.com/us/album/avery/1458042720?i=1458042723',
        'https://embed.music.apple.com/us/album/girl-in-a-coffee-shop/1651005800?i=1651005803',
        'https://embed.music.apple.com/us/album/desperate-measures/476856229?i=476856235',
        'https://embed.music.apple.com/us/album/let-me-stripped-version/1480826613?i=1480826621',
        'https://embed.music.apple.com/us/album/la-v%C3%A9nus-du-m%C3%A9lo/1532379152?i=1532379550',
        'https://embed.music.apple.com/us/album/grown-up-fairy-tales-feat-chance-the-rapper-jeremih/1719748800?i=1719749218',
        'https://embed.music.apple.com/us/album/do-you/561525301?i=561525397',
        'https://embed.music.apple.com/us/album/jungle/1185683763?i=1185684011',
        'https://embed.music.apple.com/us/album/waiting-for-an-invitation/1436916990?i=1436916999',
        'https://embed.music.apple.com/us/album/ego-trip/1565575559?i=1565575561',
        'https://embed.music.apple.com/us/album/hold-on/1245186273?i=1245186852',
        'https://embed.music.apple.com/us/album/les-champs-elys%C3%A9es-feat-john-schroeder/1511219878?i=1511219885',
        'https://embed.music.apple.com/us/album/speechless-feat-tori-kelly/1466287555?i=1466287720',
        'https://embed.music.apple.com/us/album/like-or-like-like/1653709674?i=1653709676',
        'https://embed.music.apple.com/us/album/lemonade-ukulele-version/1254601507?i=1254601653',
        'https://embed.music.apple.com/us/album/ill-come-home-to-you/1444039101?i=1444039811',
        'https://embed.music.apple.com/us/album/the-letter/258594300?i=258594398',
        'https://embed.music.apple.com/us/album/e-lau-afiogae/1677311415?i=1677312407',
        'https://embed.music.apple.com/us/album/thats-okay/1470593207?i=1470593208',
        'https://embed.music.apple.com/us/album/dear-insecurity-feat-ben-abraham/1446106131?i=1446106137',
        'https://embed.music.apple.com/us/album/helplessly/928628968?i=928629018',
        'https://embed.music.apple.com/us/album/rumors/1015732321?i=1015732764',
        'https://embed.music.apple.com/us/album/overload-feat-miguel/1170697676?i=1170698157',
        'https://embed.music.apple.com/us/album/love-song/258604731?i=258604737',
        'https://embed.music.apple.com/us/album/3am-feat-ty-dolla-%24ign/1512887760?i=1512887762',
        'https://embed.music.apple.com/us/album/me-gusta-como-eres/250410820?i=250410972',
        'https://embed.music.apple.com/us/album/alcoholic/1194248185?i=1194249338',
        'https://embed.music.apple.com/us/album/sitting-in-limbo/1442212535?i=1442213417',
        'https://embed.music.apple.com/us/album/baby-boy/1460702037?i=1460702042',
        'https://embed.music.apple.com/us/album/feel-it-from-the-original-series-invincible/1736635463?i=1736635465',
        'https://embed.music.apple.com/us/album/there-is-so-much-more/275835441?i=275835444',
        'https://embed.music.apple.com/us/album/make-me-cry/1471964051?i=1471964381',
        'https://embed.music.apple.com/us/album/idle-town/1441067449?i=1441067450',
        'https://embed.music.apple.com/us/album/stardust-remastered/757369860?i=757369866',
        'https://embed.music.apple.com/us/album/cold-little-heart/1440832200?i=1440832486',
        'https://embed.music.apple.com/us/album/prune-you-talk-funny/1421734636?i=1421735147',
        'https://embed.music.apple.com/us/album/misses/1744185197?i=1744185828',
        'https://embed.music.apple.com/us/album/peach/1460702037?i=1460702045',
        'https://embed.music.apple.com/us/album/love-me-now/1170697676?i=1170698158',
        'https://embed.music.apple.com/us/album/heaven-falls-fall-on-me/1430218150?i=1430220984'
    ];
    const songdays = [
    'November 11',
    'November 10',
    'November 9',
    'November 8',
    'November 7',
    'November 6',
    'November 5',
    'November 4',
    'November 3',
    'November 2',
    'November 1',
    'October 31',
    'October 22',
    'October 21',
    'October 20',
    'October 19',
    'October 18',
    'October 12',
    'October 11',
    'October 10',
    'October 9',
    'October 8',
    'October 7',
    'October 6',
    'October 5',
    'October 4',
    'October 3',
    'October 2',
    'October 1',
    'September 30',
    'September 29',
    'September 28',
    'September 27',
    'September 26',
    'September 25',
    'September 24',
    'September 23',
    'September 22',
    'September 21',
    'September 20',
    'September 19',
    'September 18',
    'September 17',
    'September 16',
    'September 15',
    'September 14',
    'September 13',
    'September 12',
    'September 11',
    'September 10',
    'September 9',
    'September 8',
    'August 26',
    'August 25',
    'August 24',
    'August 23',
    'August 22',
    'August 21',
    'August 20',
    'August 19',
    'August 18',
    'August 16',
    'August 15',
    'August 14',
    'August 13',
    'August 12',
    'August 11',
    'August 10',
    'August 9',
    'August 8', 
    'July 5', 
    'July 4', 
    'July 3', 'July 2', 'July 1', 
    'June 30', 'June 29', 'June 28', 
    'June 27', 'June 26', 'June 25', 
    'June 24', 'June 23', 'June 22',
    'June 21', 'June 20', 'June 19', 
    'June 18', 'June 17', 'June 16',
    'June 15', 'June 14', 'June 13'];
    function swapSong(dir){
        
        let newdir = songIndex+dir;
        console.log(newdir);
        if(newdir<0){
            newdir = songdays.length-1;
        }
        if(newdir>=songdays.length){
            newdir = 0;
        }
        songIndex=newdir;
        document.getElementById('songday').textContent = songdays[songIndex];
        document.getElementById('songswampiframe').setAttribute('src', songurls[songIndex]);
        return newdir;

    }
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('songday').textContent = songdays[songIndex];
        document.getElementById('songswampiframe').setAttribute('src', songurls[songIndex]);
    });
</script>